body {
    font-family: Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-areas: "nav-bar main-doc";
}

h1 {
    grid-area: heading;
    width: 18%;
    position: fixed;
    padding-left: 2%;
    font-size: 2.3vw;
    margin-top: 1%;
}

li {
    line-height: 25px;
}

pre {
    background-color: #99beca4d;
}

pre code {
    white-space: pre;
    margin-top: -1em;
    margin-bottom: -2.2em;
    display: block;
}

#navbar {
    grid-area: nav-bar;
    width: 20%;
    height: 100vh;
    position: fixed;
    border-right: 4px solid #808080;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "heading"
    "menu";
}

.menu {
    grid-area: menu;
    margin-top: 22%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    border-top: 1px solid #3a3a74;
    padding: 5% 0;
    padding-left: 10%;
}

.nav-link:hover {
    color: #a8a4a4;
}

#main-doc {
    grid-area: main-doc;
    padding-left: 5%;
}

@media (max-width: 400px) {
    li {
        line-height: 20px;
    }
    h2 {
        font-size: 1.5vw;
    }
    .nav-link {
        font-size: 1.vw;
    }
    .main-section p {
        font-size: 1vw;
    }
}